# ddos block
  location / {
    try_files             $uri =503;
  }

  proxy_intercept_errors  on;
  error_page              503 @ddos;

  location @ddos {
    rewrite               ^(.*)$ /503.html break;
  }
