# ddos block
  location / {
    try_files             $uri $uri/ @ddos;
  }

  proxy_intercept_errors  on;
  error_page              503 @ddos;

  @ddos {
    rewrite               ^(.*)$ /503.html break;
  }
